crawl4ai==0.6.3
langchain-core==0.2.43
langchain-openai==0.1.25
openai==1.90.0
pandas==2.2.2
python-dateutil==2.9.0.post0
requests==2.32.3
beautifulsoup4==4.12.3
ragatouille==0.0.9
selenium==4.21.0
sentence-transformers==2.7.0
tqdm==4.66.4
webdriver-manager==4.0.1
playwright==1.52.0
playwright-stealth==1.0.6
tf-playwright-stealth==1.2.0
streamlit==1.51.0
tenacity==8.5.0


